{% extends 'base.html' %}
{% load static %}


{% block extend_head %}


{% endblock %}


{% block content %}

<h3>LAB3 - Cuenta</h3>

<div class="container">

  <h4>Detalles de la cuenta</h4>
  <table>
    <thead>
      <tr>
        <th>Campos</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Usuario</td>
          <td>{{request.user.username}}</td>  <!-- Es un procesador de contexto, para acceder por una peticion al html-->
      </tr>
      <tr>
        <td>Nombre</td>
        <td>{{request.user.first_name|title}} {{request.user.last_name|title}}</td>      
      </tr>


      {% if request.user.userprofile.has_profile %}

        <tr>
          <td>Dirección</td>
          <td>
            <address>
              {{request.user.userprofile.address}}<br>
              {{request.user.userprofile.town}}<br>
              {{request.user.userprofile.county}}<br>
              {{request.user.userprofile.post_code}}<br>
            </address>
          </td>      
        </tr>

      {% else %}
        <tr>
          <td>Perfil de usuario</td>
          <td><a href="{% url 'users:profile' %}" >Crear perfil de usuario</a></td>
        </tr>
      {% endif %}
    </tbody>
  </table>



</div>


{% endblock %}


{% block extend_footer %}

{% endblock %}